config.yml
config/settings_data.json
backups/*

templates/robots.txt.liquid

.DS_Store
*.zip
*.swp

.env

# Node
node_modules

# Parcel
.cache
.parcel-cache
.DS_STORE

assets/parcel_scripts.js
assets/parcel_style.css
assets/parcel_style.css.map
assets/parcel_scripts.js.map
assets/parcel_style.js
assets/parcel_style.js.map
assets/*.svg

config/*.json
templates/*.json
templates/customers/*.json
sections/*.json
snippets/*.json
metafields.json
.shopify